* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: black;
}

footer nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}

footer nav li {
    display: inline;
    margin: 0 15px;
}

footer nav a {
    text-decoration: none;
    color: white;
}

footer nav a:hover {
    color: yellow;
}

header h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
}


nav h2 {
    margin-top: 40px;
    text-align: center;
    color: black;
}

nav ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: silver;    
}

nav ul li {
    font-size: 18px;
    margin: 12px 0;
}
