nav ul{
        display: flex;
        justify-content: center;
        background: black;
        padding: 10px;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: yellow;
}

body{
    background-color: #ccc;
}


.feedback-container {
    width: 350px;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
}

.feedback-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}


input:focus,
select:focus,
textarea:focus {
    border-color: #ff6600;
    box-shadow: 0 0 10px rgba(255,102,0,0.5);
    outline: none;
}


textarea {
    height: 90px;
    resize: none;
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #ff4500;
}

