*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        background: grey;
}

nav ul{
        display: flex;
        justify-content: center;
        background: black;
        padding: 10px;
}

nav ul li{
        margin: 0 15px;
}

nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 18px;
}

nav ul li a:hover{
        color: yellow;
}

header h1{
        text-align: center;
        margin: 20px 0;
        color: black;
}

table{
        width: 60%;
        margin: auto;
        border-collapse: collapse;
        background: rgb(118, 111, 111);
}

caption{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

th, td{
    padding: 14px;
    text-align: center;
    border-bottom: 1px  black;
}

th{
    background: rgb(93, 45, 93);
}

tr:hover{
        background: rgb(155, 80, 80);
}