h1{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    color: white;
}

nav ul{
        display: flex;
        justify-content: center;
        background: black;
        padding: 10px;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: yellow;
}


p{
    margin: 20px 40px;
    font-size: 18px;
    line-height: 1.6;
}






   