body{
    background-color: grey;
}
nav ul{
        display: flex;
        justify-content: center;
        background: black;
        padding: 10px;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: yellow;
}
  

img{
    display: flex;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;      
    border: 3px solid orange;
}

h1, h2, h3{
    color: black;
    text-align: center;
}

ul{
    width: 100%;
    background: black;
    color: white;
}

li{
    font-size: 20px;
    
}

ul {
    font-size: 20px;
   
}
