body{
  background-color: gainsboro;
}

nav ul{
  display: flex;
  justify-content: center;
  background: black;
  padding: 10px;
}

nav ul li{
  display: inline;
  margin: 0 20px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav ul li a:hover{
  color: yellow;
}

.card {
    width: 320px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.3s ease;
    font-family: Arial, sans-serif;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}


.card img {
    width: 50%;
    height: 120px;
    object-fit: cover;
}


.card-content {
    padding: 20px;
}


.card-content h2 {
    margin: 0 0 10px;
    font-size: 22px;
}


.card-content p {
    font-size: 14px;
    color: #555;
}


.price {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}


.btn {
    width: 100%;
    padding: 12px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #ff4500;
}


